:root {
    --slider-tracker-height: 20px;
    --slider-tracker-top: 26px;
}

.TitleBar {
    flex-grow: 0;
    background-color: var(--primary);
    flex-direction: row;
}

.Title {
    font-size: 40px;
    -unity-text-align: middle-center;
    flex-grow: 1;
    align-self: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--onPrimary);
}

.BackButton {
    font-size: 40px;
    color: var(--onTertiaryContainer);
    background-color: var(--tertiaryContainer);
    border-width: 0;
    border-radius: 5px;
}

.Background {
    background-color: var(--surfaceContainer);
}

.SettingsContainer {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.SettingSubContainer {
    flex-grow: 1;
}

.SettingsCategoryTitle {
    font-size: 40px;
    -unity-text-align: middle-left;
    padding: 50px 0 20px;
    color: var(--onTertiaryContainer);
}

.Slider {
    font-size: 30px;
    color: var(--onBackground);
}

.unity-base-slider__tracker,
.unity-min-max-slider__tracker {
    background-color: var(--secondaryContainer);
    border-width: 0;
    border-radius: 5px;
    height: var(--slider-tracker-height);
    top: var(--slider-tracker-top);
}

.unity-base-slider__fill,
.unity-min-max-slider__dragger {
    background-color: var(--primary);
    border-width: 0;
    border-radius: 5px;
}

.unity-min-max-slider__dragger {
    height: var(--slider-tracker-height);
    top: var(--slider-tracker-top);
}

.unity-base-slider__dragger,
.unity-min-max-slider__min-thumb,
.unity-min-max-slider__max-thumb {
    background-color: var(--primary);
    border-color: var(--surfaceContainer);
    border-radius: 5px;
    height: 40px;
    width: 10px;
}

.Reset {
    position: absolute;
    top: 70px;
    left: auto;
    right: 0;
    bottom: auto;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 35px;
    height: 35px;
}
