:root {
}

.TitleBar {
    flex-grow: 0;
    background-color: var(--primary);
}

.Title {
    font-size: 40px;
    -unity-text-align: middle-center;
    flex-grow: 1;
    align-self: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--onPrimary);
}

.BackButton {
    font-size: 40px;
    color: var(--onTertiaryContainer);
    background-color: var(--tertiaryContainer);
    border-width: 0;
    border-radius: 5px;
}

.Background {
    background-color: var(--surfaceContainer);
}

.SettingsContainer {
    flex-grow: 1;
}

.SettingSubContainer {
}

.SettingsCategory {
    font-size: 40px;
    -unity-text-align: middle-left;
    padding: 50px 0 20px;
    color: var(--onTertiaryContainer);
}

.Slider {
    font-size: 30px;
    color: var(--onBackground);
}

.unity-base-slider__tracker{
    background-color: var(--secondaryContainer);
    border-width: 0;
    border-radius: 5px;
    height: 20px;
    top: 22px;
}

.unity-base-slider__fill{
    background-color: var(--primary);
    border-width: 0;
    border-radius: 5px;
}

.unity-base-slider__dragger{
    background-color: var(--primary);
    border-color: var(--surfaceContainer);
    border-radius: 5px;
    height: 40px;
    width: 10px;
}